<div class="content-wrapper" style="display: flex; justify-content: center; align-items: center; margin-left: 300px; margin-top: -1000px;">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <!--<div class="input-group">
        <input type="text" name="typeMat" class="form-control bg-light border-0 small" [(ngModel)]="filterText" (ngModelChange)="filterOffers()" placeholder="Rechercher ..">
      </div>-->
    </form>
  </div>
  
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Liste des reservations</h1>
      <!--<a routerLink="addReservationT" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus-circle"></i> Ajouter </a>-->

    </div>
  
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive text-center">
          <table id="example2" class="table table-bordered">
            <thead>
            <tr>
                <th> Date début</th>
                <th> Date fin</th>
                <th> Etat</th>
                <th>nombre de places</th>
                
                <th> Terrain</th>
                
                <th> Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservationT of reservationTs">
                <td> {{ reservationT.date_debut | date:'MMM d, y H:mm'}}</td>
                <td> {{ reservationT.date_fin | date:'MMM d, y H:mm'}}</td>
                <td> {{ reservationT.etat}}</td>
                <td>{{reservationT.nbre}}</td>  
                <td *ngIf="reservationT.terrain ; else noTerrain">{{ reservationT.terrain.name| json }}</td>
              <ng-template #noTerrain>
                <td>"Pas de terrain"</td>
              </ng-template>  
              <td>
                <a (click)="delete(reservationT.idResT)" class="btn btn-danger btn-circle btn-sm"style="margin-right: 5px;color: white"><i class="fas fa-trash"></i></a>
                <a (click)="details(reservationT.idResT)" class="btn btn-info btn-circle btn-sm" style="color: white"><i class="fas fa-info"></i></a>
              <!--  <a (click)="edit(reservationT.idResT)"class="btn btn-warning btn-circle btn-sm" style="margin-right: 5px;color: white"><i class="fas fa-pen-alt"></i></a>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <a routerLink="chart" class="btn btn-info btn-circle btn-sm"><i class="fas fa-pen-alt"></i> Statistics </a>

    </div>
  </div>
    <script src="assets/dataTables.bootstrap5.min.js"></script>
    <script src="assets/table-datatable.js"></script>
    <script src="assets/jquery.dataTables.min.js"></script>
  </div>
  