<div class="container">
  <div><button class="btn btn-primary" (click)="navigateToHome()">
    <i class="fas fa-home"></i>  Home
  </button></div>
  <!-- Button to navigate to the home page -->
  
  <br>
  <button class="btn btn-primary" (click)="navigateToReservations()">
    <i class="fas fa-calendar-alt"></i> Make Reservations
  </button>
  <br>
  
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="card" style="margin-top: 80px;">
          <div class="card-header">
            <h4 class="card-title">Your Reservation calander</h4>
          </div>
          <div class="card-body" >
            <div class="row">
              <div class="col-md-12">
                <div class="calendar-container">
                  <full-calendar #calendar [options]="calendarOptions" (eventClick)="handleEventClick($event)" (dateClick)="handleDateClick($event)"></full-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
