// Style du menu déroulant
.dropdown-menu {
    background-color: #ffffff; // Couleur de fond
    border: 1px solid #ced4da; // Bordure
    border-radius: 0; // Coins arrondis
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); // Ombre
  
    .dropdown-item {
      color: #212529; // Couleur du texte
  
      &:hover, &:focus {
        background-color: #f8f9fa; // Couleur de fond au survol
        color: #ffffff; // Couleur du texte au survol
      }
    }
  }