table {
  width: 50%;
  border-collapse: collapse;
  padding: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Add color gradient */
tr:nth-child(odd) {
  background: linear-gradient(to right, #ffecd2, #fcb69f);
}

tr:nth-child(even) {
  background: linear-gradient(to right, #c1dfc4, #deecdd);
}
