<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ajouter une équipe</h1>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Ajouter une équipe</h6>
    </div>
    <div class="card-body justify-content">
      <form *ngIf="!submitted" (ngSubmit)="saveTeam()" [formGroup]="teamForm" novalidate>
        <div >
          <div class=".col-md-6 .offset-md-3">
            <label for="nom" class="form-label">Nom </label>
            <input name="nom" type="text" class="form-control" id="nom" formControlName="nom" required>
            <small><div *ngIf="teamForm.get('nom')?.errors?.['required']" class="text-danger">Champ obligatoire.</div></small>
            <small><div *ngIf="teamForm.get('nom')?.errors?.['minlength']" class="text-danger">Minimum 5 caractères requis.</div></small>
          </div>
          <br>
          <div class="col-md-6" style="margin-left:250px">
            <button type="submit" class="btn btn-dark btn-block text-white"> Ajouter équipe </button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

